$btn-padding: var(--btn-padding) !default;

$btn-border-width: var(--btn-border-width) !default;
$btn-border-style: var(--btn-border-style) !default;
$btn-border-radius: var(--btn-border-radius) !default;

$btn-text-color: var(--btn-text-primary) !default;
$btn-text-font-family: var(--btn-text-primary) !default;
$btn-text-font-size: var(--btn-text-font-size) !default;


.btn {

    padding: $btn-padding;
    border-width: $btn-border-width;
    border-radius: $btn-border-radius;
    border-style: $btn-border-style;
    font-family: $btn-text-font-family;
    font-size: $btn-text-font-size;
    
    &.primary {
        $btn-text-color: var(--btn-text-primary);
        color: $btn-text-color;
    }

    &.secondary {
        $btn-text-color: var(--btn-text-secondary);
        color: $btn-text-color;
    }

    &.error {
        $btn-text-color: var(--btn-text-error);
        color: $btn-text-color;
    }

    &.info {
        $btn-text-color: var(--btn-text-info);
        color: $btn-text-color;
    }

    &.success {
        $btn-text-color: var(--btn-text-success);
        color: $btn-text-color;
    }

}