$btn-padding: var(--btn-padding) !default;

$btn-border-width: var(--btn-border-width) !default;
$btn-border-style: var(--btn-border-style) !default;
$btn-border-radius: var(--btn-border-radius) !default;

$btn-text-color: var(--btn-text-primary) !default;
$btn-text-font-family: var(--btn-text-primary) !default;
$btn-text-font-size: var(--btn-text-font-size) !default;


.btn {

    padding: var(--btn-padding);
    border-width: var(--btn-border-width);
    border-radius: var(--btn-border-radius);
    border-style: var(--btn-border-style);
    font-family: var(--btn-text-primary);
    font-size: var(--btn-text-font-size);
    
    &.primary {
        color: var(--btn-text-primary);
    }

    &.secondary {
        color: var(--btn-text-secondary);
    }

    &.error {
        color:  var(--btn-text-error);
    }

    &.info {
        color: var(--btn-text-info);
    }

    &.success {
        color: var(--btn-text-success);
    }

}