//                          BUTTON Varaiables                       //
$btnPadding: var(--btn-padding) !default;
$btnBorderWidth: var(--btn-border-width) !default;
$btnBorderStyle: var(--btn-border-style) !default;
$btnBorderRadius: var(--btn-border-radius) !default;
$btnTextFontSize: var(--btn-text-font-size) !default;
$btnTextColorPrimary: var(--btn-text-color-primary) !default;
$btnTextColorSecondary: var(--btn-text-color-secondary) !default;
$btnTextColorError: var(--btn-text-color-error) !default;
$btnTextColorInfo: var(--btn-text-color-info) !default;
$btnTextColorSuccess: var(--btn-text-color-success) !default;