@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --btn-height: inherit;
    --btn-width: inhrit;
    --btn-border-top-left-radius: 5px;
    --btn-border-top-right-radius: 5px;
    --btn-border-bottom-left-radius: 25px;
    --btn-border-bottom-right-radius: 0px;
    
    --btn-padding-left: 15px;
    --btn-padding-right: 15px;
    --btn-padding-bottom: 10px;
    --btn-padding-top: 10px;
    
    --btn-text-color-default: rgb(59, 59, 59);
    --btn-text-color-error: #f7f7ff;
    --btn-text-color-info: #f7f7ff;
    --btn-text-color-primary: #f7f7ff;
    --btn-text-color-secondary: #f7f7ff;
    --btn-text-color-success: #f7f7ff;
    --btn-text-color-warning: #f7f7ff;
    
    --btn-bg-color-default: rgb(247, 247, 247);
    --btn-bg-color-error: #ef5350;
    --btn-bg-color-info: #03a9f4;
    --btn-bg-color-primary: #42a5f5;
    --btn-bg-color-secondary: #ba68c8;
    --btn-bg-color-success: #4caf50;
    --btn-bg-color-warning: #ff9800;

}